[run]
branch = True
source =
    app
    models

omit =
    backend/models/model.py
    backend/models/db.py
    */tests/*
    */venv/*
    */migrations/*
    */__pycache__/*
    */__init__.py
relative_files = True

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == '__main__':
    raise NotImplementedError
    pass

[paths]
backend =
    backend
    /builds/aie/ai-engineering-lab/student-projects/group-2/backend
